.Research{
    width: 1200px;
    margin: 0 auto;
    height: 150px;
}

.Research h1{
    display: block;
    width: 190px;
    height: 58px;
    background: url(./../img/O1CN01uRz3de23mzWofmPYX_!!6000000007299-2-tps-143-59.png) center no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    padding-top: 58px;
}

.Research .code{
    width: 72px;
    height: 86px;
    border: 1px solid #eee;
    position: relative;
    margin-right: 110px;
    text-align: center;
    background-color: #fff;
    top: 20px;
}

.Research .code img{
    width: 62px;
    height: 62px;
}

.Research .code .xiazai{
    color: #ff5000;
}

.Research .close{
    position: absolute;
    left: -16px;
    top: -1px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #eee;
    color: #ddd;
    cursor: pointer;
}

.Research .search{
    width: 630px;
    margin:0 auto;
}

.Research .search .searchContent .searchBox span.line{
    color: rgb(243, 240, 240);
}

.searchBox{
    width: 530px;
    height: 40px;
    border: 2px solid #ff5000;
    /* border-left: none; */
    border-radius: 30px;
    background-color: #fff;
}

.searchBox input{
    width: 388px;
    height: 20px;
    padding: 9px 0;
    text-indent: 10px;
}

.Research .search .searchContent .searchBox .searchTab{
    float: left;
    font-size: 14px;
    /* background-color: #fff; */
    width: 60px;
    height: 105px;
    text-align: center;
    line-height: 40px;
}

.Research .search .searchContent .searchBox .searchTab .main{
    position: relative;
}

.Research .search .searchContent .searchBox .searchTab .iconfont{
    display: block;
    position: absolute;
    top: 4px;
    left: 40px;
}

.Research .search .searchContent .searchBox .searchTab .tab{
    line-height:30px;
    display: none;
    background-color: #fff;
    padding-top: 10px;
    margin-top: -5px;
}

.Research .search .searchContent .searchBox .searchTab:hover{
    background-color: #fff;
}

.Research .search .searchContent .searchBox .searchTab:hover .tab{
    display: block;
}

.Research .search .searchContent{
    position: relative;
    height: 60px;
    top: 30px;
}

.Research .search .searchContent .btn button{
    width: 72px;
    height: 34px;
    font-size: 18px;
    background-color: #ff5000;
    color: #fff;
    border-radius: 40px;
    position: absolute;
    right: 102px;
    top: 10px;
}

.Research .search .hotkey{
    font-size: 12px;
    margin-left: 20px;
    margin-top: 25px;
}

.Research .search .hotkey a:hover{
    color: #f40;

}

a{
    cursor :pointer;
}